{% extends "template.html" %}
{% block conteudo %}
    {% include 'navbar.html' %}
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th> ID </th>
                <th> Nome </th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}