{% extends "template.html" %}
{% block conteudo %}
{% include 'navbar.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='autenticar.css') }}">
    <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
        <figure class="img thumbnail col-md-4">
            <img class="img-fluid" src="{{ url_for('imagem', filename='codigo-limpo.jpg')}}">
            <figcaption>
                <label class="fileContainer">
                    Livro Inicial
                    <input type="file" name="arquivo" accept=".png">
                </label>
            </figcaption>
        </figure>
    </form>
{% endblock %}